@import "variables";

.page-header{
  background-color: $header-background;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: all 350ms ease-out;
}

.page-header-logo{
  font-family: sans-serif;
  font-size: 22px;
  .left{
    color: $main-font-color;
  }
  .right{
    color: #0097e6;
  }
}

.main-nav-list{
  list-style: none;
  display: flex;
  margin-right: 10px;
}

a{
  text-decoration: none;
  padding: 20px 10px;
  color: $main-font-color;
  font-family: sans-serif;
  font-size: 18px;
}
a:hover{
  color: $color-App-link;
}

.main-nav-toggle{
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  span {
    background-color: #fff;
    width: 30px;
    height: 4px;
    display: block;
    margin: 2px;
  }
}

.main-nav-toggle-show{
  @extend .main-nav-toggle;
  position: relative;
  left: calc(50% - 25px);
}

@media (max-width: 780px) {

  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav-list {
    position: fixed;
    transition: 0.5s transform;
    top:-16px;
    left:-370px;
    width: 320px;
    height: 100%;
    //background: darken($header-background, 10);
    flex-direction: column;
    li{
      margin-top: 10px;
    }
  }
  .main-nav-toggle{
    display: block;
    margin-right: 10px;
  }

  .main-nav-list.show {
    transform: translate(100%);
    background-color: #353b48;
  }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}