@import 'variables';

.section2-main {
  height: 100%;
  background: $dark-color;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.parallax-container {
  height: 40vh;
  display: flex;
  //justify-content: space-around;
  align-items: center;
}

.infobox {
  width: 30vw;
  height: 35vh;
  background: $light-color;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infobox-txt {
  //padding: 20px 0;
  text-align: left;
  h3 {
    text-align: left;
    color: $bright-red;
  }
  a {
    padding: 20px 0;
  }

  p {
    text-align: justify;
    margin-right: 62.5px;
  }
}

.first-row {
  position: relative;
  top: 3vh;
  left: -2.6vw
}

.second-row {
  position: relative;
  bottom: 3vh;
  left: -3.1vw;
}

.fas {
  padding: 20px 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: $bright-red;
}

i {
  color: white;
}

.fa-info {
  padding: 0;
  width: 10px;
  font-size: 20px;
  opacity: 50%;
}