@import "variables";

.section4-div {
  //height: 500px;
  background: $light-color;
  text-shadow: 2px 2px 4px $dark-color;
  padding-bottom: 100px;
}

.section4-h1{
  color: $bright-red;
  margin-left: 20px;
  position: relative;
  text-align: left;
}

.section4-h3{
  color: $bright-red;
  padding-top: 18.1px;
  position: relative;
  text-align: left;
  margin-left: 20px;
  margin-top: 0;
}

.section4-a {
  border: 1px solid $bright-red;
  border-radius: 25px;
  color: $bright-red;
  display: block;
  font-size: 16px;
  margin-left: 20px;
  padding: 10px 10px;
  position: relative;
  transition: 0.1s ease-in;
  width: 131px;
  text-align: center;
}

.section4-a:hover {
  background: $bright-red;
  color: $light-color;
}

.Collapsible__trigger::after{
  @extend .section4-a;
  content: 'MORE...';
  display: inline-block;
}

.is-open::after {
  content: 'LESS...';
}

//Animation for sliding in from the right

.slide-in-right {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.box1 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.section4-p {
  position: relative;
  text-align: justify;
  //margin-left: 20px;
  //margin-right: 20px;
  color: $dark-color;
  text-shadow: none;
  background: #EE262D0D;
  border-radius: 6px;
  padding: 10px;
  width: 659px
}

.sectionImg {
  //background-image: url("../img/section4-d-a-v-i-d-s-o-n-l-u-n-a.jpg");
  background-size: cover;
  height: 269px;
  border-radius: 6px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0;
  //width: 300px;
}

.test{
  box-sizing: border-box;
}
