$color-App-link: #61dafb;
$header-background: #353b481A;
$footer-background: #1E1C29;
$main-font-color: #7f8fa6;

$light-color: #ECE7E7;
$light-brown: #C87D54;
$bright-red: #EE262D;
$dark-red: #982628;
$dark-color: #1E1C29;