$color-App-link: #61dafb;
$header-background: #353b481A;
$footer-background: darken($header-background, 25%);

$light-color: #ECE7E7;
$light-brown: #C87D54;
$bright-red: #EE262D;
$dark-red: #982628;
$dark-color: #1E1C29;